[defaults]
inventory = inventory.ini
private_key_file = ~/.ssh/ansible_key
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
remote_user = mobile
timeout = 30
# deprecation 경고 비활성화
deprecation_warnings = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml